<article class="page social profile" data-widget="WebPage" data-animation="fade" data-page-title="Profile" data-auto-scroll="disabled" data-tool="setting" >
			{{if userInfo.coverUrl}}
			<header style="background-image:url(${userInfo.coverUrl})">
			{{else}}
			<header>
			{{/if}}
				<img class="avata" src="${headUrl}" data-widget="Button" data-action="profile.uploadAvatar" />
				<span class="name">${nickname}</span>
				{{if !("Y"==isIOS)}}
				<span class="tiprange" data-widget="Button" data-action="profile.uploadCover"  ><span class="changeavata"></span></span>
			    {{/if}}
			</header>
			{{if postStatus}}
			<div class="poststatus" data-widget="Button"  data-post-value ="${postStatus}" data-action="profile.toPostPage" >
			       <div class="poststatusValue" data-widget="TimelineContent" >{{html postDescription}} </div>
			</div>
			{{else}}
			<div class="poststatus" data-widget="Button" data-action="profile.toPostPage"  data-post-value ="" >
			       <div class="poststatusValue" data-widget="TimelineContent">post your status</div>
			</div>
			{{/if}}
			
		<div class="info">
				<div class="split"></div>
				<div class="games" >
				 {{each(indexother, item) recentlyPlayed}}
				     {{if item.gameId==0}}
				        <span class="avata" style="background-image:url(file:///android_asset/img/game_place_holder.png)"></span>
				     {{else}}
				        <span class="avata" style="background-image:url(${hike.domain.URL_STATIC_IMG}/${item.appIconCover.touchIcon})" data-widget="Button" data-action="games.openDetail" data-game-id="${item.gameId}"></span>
				     {{/if}}
				     
				     {{if Number(indexother)==2}}
				     <br/>
				     {{/if}}
		          {{/each}}
			
			       {{if totalRecentlyPlayed== 0 || totalRecentlyPlayed==1 }}
					<span class="cnt" data-widget="Button"  data-action="games.gamelist" data-user-type="${isMyProfile}" data-game-type="recently-played" data-user-id="${userInfo.id}"><em>${totalRecentlyPlayed}</em> game</span>
					{{else}}
					<span class="cnt" data-widget="Button"  data-action="games.gamelist" data-user-type="${isMyProfile}" data-game-type="recently-played" data-user-id="${userInfo.id}"><em>${totalRecentlyPlayed}</em> games</span>
					{{/if}}
					
				</div>
				<div class="friends">
					 {{each(m, item) friends}}
				     {{if item.userId==0}}
				      <span class="avata" style="background-image:url(file:///android_asset/img/person_place_holder.png)"></span>
				    {{else}}
				     <span class="avata" style="background-image:url(${item.headUrl})"data-widget="Button"  data-action="profile.friends"  data-user-id="${item.userId}"></span>
				    {{/if}}
				     {{if Number(m)==2}}
				     <br/>
				     {{/if}}
		             {{/each}}
		          
		            {{if friendNum== 0 || friendNum==1 }}
					   <span class="cnt" data-widget="Button"  data-action="profile.my-friends"><em>${friendNum}</em> friend</span>
					{{else}}
					   <span class="cnt" data-widget="Button"  data-action="profile.my-friends"><em>${friendNum}</em> friends</span>
					{{/if}}
				</div>
			</div>
	     
		 <section data-tiltle = "News Feed"  data-widget="DataView" data-widget-id="newsfeedlist" data-on-scrolldata="profile.getNewsfeeds" data-user-id="${userInfo.id}" data-user-type="${isMyProfile}">
			  <ul class="timeline-list">
	          </ul>
	 	    </section>
</article>
