<article class="page social timeline" data-widget="WebPage" data-page-title="Friends">
	<ul class="nothers-list">
		{{each(i, friend) friends}}
		<li id="${friend.id}">
			<img class="avata" src="${friend.headUrl}" data-action="profile.friends" data-user-id="${friend.id}"/>
			<div class="info">
				<span class="name" data-action="profile.friends" data-user-id="${friend.id}">${friend.nickName}</span>
				<span class="common">${descMap[friend.id]}</span>
			</div>
			{{if friend.weight==10 || friend.weight==1}}
			 	<aside id="view${friend.id}" class="btn bluebtn" data-widget="Button" data-action="profile.friends" data-user-Id="${friend.id}">View</aside>
			{{/if}}
			{{if friend.weight!=10 && friend.weight!=1}}
			 <aside id="add${friend.id}" class="btn bluebtn" data-widget="Button" data-action="friend.add" data-user-id="${friend.id}" data-my-Name="${myName}" data-nick-Name="${friend.nickName}" >Add</aside>
			 <aside class="btn disablebtn" style="display:none"  id="rsend${friend.id}">Request sent</aside>
			{{/if}}
		</li>
		{{/each}}
	</ul>
</article>
