/*add this part to every file*/
/*add this part to every file*/
.notify .msg-list li { min-height: 138px; }
.notify .msg-list li h1 { font-size: 1.25em; line-height: 36px; }
.notify .msg-list li h2 { font-size: .83em; color: #999999; margin-top: 16px; margin-bottom: 8px; }
.notify .msg-list li.unread { background-color: #fff5ea; }
.notify.list .message .msg-list li { background: url(../img/notify-list-arrow.png) no-repeat 94% center; background-size: auto 22px; padding-left: 4.4%; padding-top: 16px; }
.notify.list .message .msg-list li.unread { background-color: #fff5ea; }
.notify.list .game .msg-list li { position: relative; padding-left: 20.3%; padding-top: 20px; padding-right: 26%; }
.notify.list .game .msg-list li .avata { position: absolute; top: 20px; left: 4%; width: 80px; height: 80px; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; }
.notify.list .game .msg-list li .avata.game { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.notify.list .game .msg-list li h1 em { font-weight: bold; }
.notify.list .game .msg-list li .play { position: absolute; right: 13%; width: 100px; height: 100%; top: 0px; }
.notify.list .game .msg-list li .play .btn { position: absolute; top: 40px; right: 0px; }
.notify.list .game .msg-list li .del { position: absolute; right: 0px; width: 80px; top: 0px; height: 100%; }
.notify.list .game .msg-list li .del .btn { position: absolute; top: 40px; width: 46px; height: 48px; padding-left: 11px; padding-top: 2px; right: 33%; }
.notify.list .game .msg-list li .del .btn img { width: 22px; height: 22px; }
.notify.list .game .msg-list li .ignored { position: absolute; right: 3.125%; top: 0px; height: 100%; width: 120px; }
.notify.list .game .msg-list li .ignored .btn { position: absolute; top: 40px; right: 0px; }
.notify.list .friend .msg-list li { position: relative; padding-left: 20.3%; padding-top: 20px; padding-right: 26%; }
.notify.list .friend .msg-list li .avata { position: absolute; top: 20px; left: 4%; width: 80px; height: 80px; -webkit-border-radius: 40px; -moz-border-radius: 40px; -ms-border-radius: 40px; -o-border-radius: 40px; border-radius: 40px; }
.notify.list .friend .msg-list li .avata.game { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.notify.list .friend .msg-list li h1 { font-weight: bold; font-size: 1.5em; }
.notify.list .friend .msg-list li h2 { color: #666666; font-size: .92em; margin-top: 12px; }
.notify.list .friend .msg-list li h3 { color: #999999; font-size: .92em; margin-top: 12px; }
.notify.list .friend .msg-list li .play { position: absolute; right: 13%; width: 100px; height: 100%; top: 0px; }
.notify.list .friend .msg-list li .play .btn { position: absolute; top: 40px; right: 0px; }
.notify.list .friend .msg-list li .del { position: absolute; right: 0px; width: 80px; top: 0px; height: 100%; }
.notify.list .friend .msg-list li .del .btn { position: absolute; top: 40px; width: 46px; height: 48px; padding-left: 11px; padding-top: 2px; right: 33%; }
.notify.list .friend .msg-list li .del .btn img { width: 22px; height: 22px; }
.notify.list .friend .msg-list li .ignored { position: absolute; right: 3.125%; top: 0px; height: 100%; width: 120px; }
.notify.list .friend .msg-list li .ignored .btn { position: absolute; top: 40px; right: 0px; }
.notify.detail p { padding: 4.6%; font-size: 1.25em; line-height: 40px; border-bottom: solid 1px #ccc; }
.notify.detail .time { padding-right: 4.6%; font-size: .83em; color: #999999; text-align: right; line-height: 52px; height: 52px; font-family: Helvetica; }
