/*add this part to every file*/
/*add this part to every file*/
.notify .msg-list li { min-height: 103.5px; }
.notify .msg-list li h1 { font-size: 1.25em; line-height: 27px; }
.notify .msg-list li h2 { font-size: .83em; color: #999999; margin-top: 12px; margin-bottom: 6px; }
.notify .msg-list li.unread { background-color: #fff5ea; }
.notify.list .message .msg-list li { background: url(../img/notify-list-arrow.png) no-repeat 94% center; background-size: auto 16.5px; padding-left: 4.4%; padding-top: 12px; }
.notify.list .message .msg-list li.unread { background-color: #fff5ea; }
.notify.list .game .msg-list li { position: relative; padding-left: 20.3%; padding-top: 15px; padding-right: 26%; }
.notify.list .game .msg-list li .avata { position: absolute; top: 15px; left: 4%; width: 60px; height: 60px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; }
.notify.list .game .msg-list li .avata.game { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.notify.list .game .msg-list li h1 em { font-weight: bold; }
.notify.list .game .msg-list li .play { position: absolute; right: 13%; width: 75px; height: 100%; top: 0px; }
.notify.list .game .msg-list li .play .btn { position: absolute; top: 30px; right: 0px; }
.notify.list .game .msg-list li .del { position: absolute; right: 0px; width: 60px; top: 0px; height: 100%; }
.notify.list .game .msg-list li .del .btn { position: absolute; top: 30px; width: 34.5px; height: 36px; padding-left: 8.25px; padding-top: 1.5px; right: 33%; }
.notify.list .game .msg-list li .del .btn img { width: 16.5px; height: 16.5px; }
.notify.list .game .msg-list li .ignored { position: absolute; right: 3.125%; top: 0px; height: 100%; width: 90px; }
.notify.list .game .msg-list li .ignored .btn { position: absolute; top: 30px; right: 0px; }
.notify.list .friend .msg-list li { position: relative; padding-left: 20.3%; padding-top: 15px; padding-right: 26%; }
.notify.list .friend .msg-list li .avata { position: absolute; top: 15px; left: 4%; width: 60px; height: 60px; -webkit-border-radius: 30px; -moz-border-radius: 30px; -ms-border-radius: 30px; -o-border-radius: 30px; border-radius: 30px; }
.notify.list .friend .msg-list li .avata.game { -webkit-border-radius: 0px; -moz-border-radius: 0px; -ms-border-radius: 0px; -o-border-radius: 0px; border-radius: 0px; }
.notify.list .friend .msg-list li h1 { font-weight: bold; font-size: 1.5em; }
.notify.list .friend .msg-list li h2 { color: #666666; font-size: .92em; margin-top: 9px; }
.notify.list .friend .msg-list li h3 { color: #999999; font-size: .92em; margin-top: 9px; }
.notify.list .friend .msg-list li .play { position: absolute; right: 13%; width: 75px; height: 100%; top: 0px; }
.notify.list .friend .msg-list li .play .btn { position: absolute; top: 30px; right: 0px; }
.notify.list .friend .msg-list li .del { position: absolute; right: 0px; width: 60px; top: 0px; height: 100%; }
.notify.list .friend .msg-list li .del .btn { position: absolute; top: 30px; width: 34.5px; height: 36px; padding-left: 8.25px; padding-top: 1.5px; right: 33%; }
.notify.list .friend .msg-list li .del .btn img { width: 16.5px; height: 16.5px; }
.notify.list .friend .msg-list li .ignored { position: absolute; right: 3.125%; top: 0px; height: 100%; width: 90px; }
.notify.list .friend .msg-list li .ignored .btn { position: absolute; top: 30px; right: 0px; }
.notify.detail p { padding: 4.6%; font-size: 1.25em; line-height: 30px; border-bottom: solid 1px #ccc; }
.notify.detail .time { padding-right: 4.6%; font-size: .83em; color: #999999; text-align: right; line-height: 39px; height: 39px; font-family: Helvetica; }
